.home-content {
    &__top {
        margin: 30px 0 10px 0;
        background-color: #fff;
        @include flex(center,flex-start);

        &__title {
            @include flex(center,flex-start);
            a {
                background-color: #2b80dd;
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 40px;
                padding: 0 10px 0 24px;
            }
        }

        // &__filter {

        // }
    }

    @include mobile {
        &__top {
            &__title {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}
